/*
For Initial page
*/

.top {
    background-image: url(../images/toplogo.jpg);
    background-repeat: no-repeat;
    background-color: #0a3665;
    height:71px;
    padding-top:15px;
}
.top a {
    color: whitesmoke;
    text-decoration: underline;
}
.top a:hover,
.top a:focus {
    color: grey;
}


.left {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:700px;
}

.right {
    padding-top:10%;
}


/*
For Main Page
*/
.mainTop {
    background-image: url(../images/toplogo.jpg);
    background-repeat: no-repeat;
    background-color: #0a3665;
    height:71px;
    padding-right:10px;
    
}

.topMember {
    color:white;
    text-align: left;
}

.pre-scrollable {
    max-height: 1000px;
    overflow-y: scroll;
}


/*
For schedule
*/

.schedule{
    margin-top: 20px;
}


#scheduleTable tr[visible='false'],
.no-result{
  display:none;
}

#scheduleTable tr[visible='true']{
  display:table-row;
}

.online{
    color:orangered;
}
.hybrid{
    color:royalblue;
}




/*
For curriculum
*/

.curriculum{
    padding-top:20px;
}

#class_group{
    background-color: lightskyblue;
    color:white;
    font-style: italic;    
}

#area{
    background-color: navy;
    color: white;
    font-size: larger;
}

/*
For modal
*/

.modal-large {
  width: 750px;
  margin: auto;
}
