doctype html
html
    head
        meta(charset='utf-8')
        title="GSW Class Registration Service"
        link(href='/css/signin.css', rel='stylesheet')
    body
        div.container
            div.top
                h1 Member Info
            div.left
                h1 Find Password!
