extends top.pug

block content
    .container-fluid
        .row.top
        .row
            .col-md-6.left            
            .col-md-6.right
                h1 Input your ID(email address)
                form(action='/findpw' method='post')
                    p
                        input(type='text' name='id' placeholder="name@email.com")
                    p                      
                        input(type='submit' value="Send password").submit