extends top.pug

block content   
    script(src="/javascript/index.js")
    .container-fluid
        .row.top
            .col-md-8
            .col-md-4 
                .row
                    form(class="form-inline" action='/signin' method='post')
                            .form-group                        
                                input(class="form-control" type="text" name='username' placeholder="name@email.com")
                                input(class="form-control" type='password' name='password' placeholder="password")                        
                                button(type="submit" class="btn btn-default") Sign In
                .row
                        .col-md-3
                        .col-md-9
                            a(href="findpw") Forgot Password?
        .row
            .col-md-6.left            
            .col-md-6.right
                .col-md-1
                .col-md-11
                    .row
                        .col-md-4
                            img.pull-right.img-circle(src="../images/surge.png" height="100px")
                        .col-md-8
                            h1 
                                strong Sign Up!                        
                    .row
                        .col-md-12.error#red
                    .row 
                        form.form-horizontal#signupform(action='/signup' method='post')
                            .row
                                form-group
                                    label.col-md-4.control-label Email
                                    .col-md-8
                                        input.form-control#email(type='text' name='mem_email' placeholder="name@email.com")
                            .row
                                form-group
                                    label.col-md-4.control-label Password
                                    .col-md-8
                                        input.form-control#pw(type='password' name='password' placeholder="password")
                            .row
                                form-group
                                    label.col-md-4.control-label Confirm Password
                                    .col-md-8
                                        input.form-control#cpw(type='password' name='passwordconfirm' placeholder="password")
                            .row
                                form-group
                                    label.col-md-4.control-label Degree Level
                                    .col-md-8
                                        select.bootstrap-select.btn.btn-default#degree(name='deg_level')                                        
                                            option(value="" disabled selected) Level
                                            option(value='Undergraduate') Undergraduate
                                            option(value='Graduate') Graduate
                            .row
                                form-group
                                    label.col-md-4.control-label Starting Year
                                    .col-md-8
                                        select.bootstrap-select.btn.btn-default#year(name='mem_startyear')                                        
                                            option(value="" disabled selected) Starting Year
                                            option(value='2017') 2017
                                            option(value='2016') 2016
                            .row
                                form-group
                                    label.col-md-4.control-label Major
                                    .col-md-8
                                        select.bootstrap-select.btn.btn-default#major(name='deg_major')                                        
                                            option(value="" disabled selected) Major
                                            option(value='ComputerScience') Computer Science
                                            option(value='mathmatics') Mathmatics  
                            .row
                                form-group
                                    label.col-md-4.control-label
                                    .col-md-8                     
                                        .btn.btn-primary#signup Sign Up
                            .row
                                br
                                br
                                br
                                strong#blue Current test version supports only Computer Science Undergraduate Account from 2017
                        
                        