extends top.pug

block content
    .container-fluid
        .row.top
            .col-md-8
            .col-md-4 
                .row
                    form(class="form-inline" action='/signin' method='post')
                            .form-group                        
                                input(class="form-control" type="text" name='username' placeholder="name@email.com")
                                input(class="form-control" type='password' name='password' placeholder="password")                        
                                button(type="submit" class="btn btn-default") Sign In
                .row
                        .col-md-3
                        .col-md-9
                            a(href="findpw") Forgot Password?
        .row
            .col-md-6.left            
            .col-md-6.right
                .row
                    .col-md-2
                        img.pull-right.img-circle(src="../images/surge.png" height="100px")
                    .col-md-10 
                        h1 
                            strong Sign Up!                        
                .row 
                    form.form-horizontal(action='/signup' method='post')
                        .row
                        form-group
                            label.col-sm-2.control-label Email
                            .col-sm-10
                                input.form-control(type='text' name='mem_email' placeholder="name@email.com")
                        .row
                        form-group
                            label.col-sm-2.control-label Password
                            .col-sm-10
                                input.form-control(type='password' name='password' placeholder="password")
                        .row
                        form-group
                            label.col-sm-2.control-label Confirm Password
                            .col-sm-10
                                input.form-control(type='password' name='passwordconfirm' placeholder="password")
                        .row
                        form-group
                            label.col-sm-2.control-label Degree Level
                            .col-sm-10
                                label.radio-inline
                                    input(type="radio" name="deg_level" id="inlineRadio1" value="Undergraduate")
                                    p Undergraduate
                                label.radio-inline
                                    input(type="radio" name="deg_level" id="inlineRadio1" value="Graduate")
                                    p Graduate                                                                                              
                        .row
                        form-group
                            label.col-sm-2.control-label Starting Year
                            .col-sm-10
                                select.form-contorl(name='mem_startyear')
                                    option(value="" disabled selected) Starting Year
                                    option(value='2017') 2017
                                    option(value='2016') 2016
                        .row
                        form-group
                            label.col-sm-2.control-label Major
                            .col-sm-10
                                select(name='deg_major')
                                    option(value="" disabled selected) Major
                                    option(value='ComputerScience') Computer Science
                                    option(value='mathmatics') Mathmatics  
                        .row
                        form-group
                            label.col-sm-2.control-label
                            .col-sm-10                     
                                button.btn.btn-primary(type='submit' value="Sign Up") Sign Up