doctype html
html
    head
        meta(charset='utf-8')
        title="GSW Class Registration Service"
        link(href='/css/index.css', rel='stylesheet')
    body
        div.container
            div.top
                div.topcontent
                    form(action='/signin' method='post')
                        div
                            input(type='text' name='username' placeholder="name@email.com")
                            input(type='password' name='password' placeholder="password")
                            input(type='submit' value="Sign In")
                        div
                            a(href="findpw") Forgot Password?
            div.left
            div.right                
                div.content
                    img(src="../images/surge.png")
                    h1 Sign Up!    
                form(action='/signup' method='post')
                    p
                        input(type='text' name='mem_email' placeholder="name@email.com")
                    p
                        input(type='password' name='password' placeholder="password")
                        input(type='password' name='passwordc' placeholder="Confirm password")
                    p
                        select(name='deg_level')
                            option(value="" disabled selected) Course Level
                            option(value='Undergraduate') Undergraduate
                            option(value='Graduate') Graduate                                                
                    p
                        select(name='mem_startyear')
                            option(value="" disabled selected) Starting Year
                            option(value='2017') 2017
                            option(value='2016') 2016                                                
                    p
                        select(name='deg_major')
                            option(value="" disabled selected) Major
                            option(value='ComputerScience') Computer Science
                            option(value='mathmatics') Mathmatics  
                    p                      
                        input(type='submit' value="Sign Up").submit
            div.bottom
                    p CSCI 6410 Adv. Database Design Team Project
    

