extends top.pug

block content
    .container-fluid
        .row.mainTop
            .col-md-7
            .col-md-5 
                .row                    
                    .col-md-10.topMember                        
                        h4
                            |&nbsp;
                            =level
                            |&nbsp;
                            =major
                            |&nbsp;course
                            |&nbsp;from&nbsp;
                            =startyear
                    .col-md-2
                .row                    
                    .col-md-8.topMember
                        h4
                            =id
                    .col-md-2
                        form(action='/logout' method='post')                    
                            button.btn.btn-primary.btn-sm(type='submit') Log Out
        .row
            .col-md-4
                h2 Curriculum
                h2 Required core courses (18 hrs)				
                h3  CSCI 5120 Topics in Information Security					
                h3  CIS 6720 Distributed Web Applications					
                h3  CSCI 6230 Internetworking Archit & Protocols				 
                h3  CSCI 6410 Advanced Database Design					     
                h3  CIS 6800 HCI & Interface Dsg					
                h3  CSCI 6220 Distributed Operating Systems					
                h3                        
                h2  Elective Courses 12hrs or 6hrs w/thesis					
                h3  CIS 6420  Data Mining					
                h3  CIS 5310 Decision Support Systems					
                h3  CSCI 6320 Advanced Software Engineering					
                h3  CSCI 6821 Advanced Computer Graphics					
                h3  CSCI 6900 Special Problems in CS					
                h3  CIS 6900 Special Problems in CIS					
                h3  CSCI 6930 Internship					
                h3                       
                h2  Thesis only (6 cr)					
                h3  CSCI 7900 Thesis 					
                h3  CSCI 7900 Thesis     
            .col-md-8
                .row
                    select.form-contorl(name='yearsemester')                        
                        option(value='2017S') 2017 Summer
                        option(value='2016F') 2017 Fall 
                div!=html  
