doctype html
html
    head
        meta(charset='utf-8')
        title="GSW Class Registration Service"
        link(href='/css/main.css', rel='stylesheet')
    body
        div.container
            div.top
                div.topcontent
                    |
                    div=id                     
                        | &nbsp;/ Major: 
                        =major
                    div=level 
                        | &nbsp;Course 
                        | from 
                        =startyear                         
                        form(action='/logout' method='post')
                            select(name='semester')
                                option(value="" disabled selected) Select Semester
                                option(value='2017summer') 2017 Summer
                                option(value='2017fall') 2017 Fall                        
                            input(type='submit' value="Log Out")
            div.left
                h1 Curriculum
                h2 Required core courses (18 hrs)				
                h3  CSCI 5120 Topics in Information Security					
                h3  CIS 6720 Distributed Web Applications					
                h3  CSCI 6230 Internetworking Archit & Protocols				 
                h3  CSCI 6410 Advanced Database Design					
                h3  CIS 6800 HCI & Interface Dsg					
                h3  CSCI 6220 Distributed Operating Systems					
                h3                        
                h2  Elective Courses 12hrs or 6hrs w/thesis					
                h3  CIS 6420  Data Mining					
                h3  CIS 5310 Decision Support Systems					
                h3  CSCI 6320 Advanced Software Engineering					
                h3  CSCI 6821 Advanced Computer Graphics					
                h3  CSCI 6900 Special Problems in CS					
                h3  CIS 6900 Special Problems in CIS					
                h3  CSCI 6930 Internship					
                h3                       
                h2  Thesis only (6 cr)					
                h3  CSCI 7900 Thesis 					
                h3  CSCI 7900 Thesis 				


            div.right
                h1 Schedule
                h5 	CRN	SUBJ CODE	CRSE NO.	TITLE	PTRM	CRED HOURS	SEATS AVAIL	TOTAL SEATS	DAYS	CLASS TIME	LOCATION	INSTRUCTOR	 	
                h5 	C	20052	ACCT	2101	Accounting Principles I	1	3	0	35	M W	09:30am-10:45am	BHP 206	Robinson, S	
                h5 	 	20065	ACCT	2102	Accounting Principles II	1	3	2	35	T R	02:00pm-03:15pm	BHP 201	Warther, J	
                h5 	 	20796	ACCT	2102	Accounting Principles II	1	3	6	25	T R	02:00pm-03:15pm	BHP 203	King, W	
                h5 	 	20053	ACCT	3250	Intermediate Accounting I	1	3	19	30	M W	09:30am-10:45am	BHP 205	Bishop, C	
                h5 	 	20066	ACCT	3260	Intermediate Accounting II	1	3	21	30	T R	09:30am-10:45am	BHP 201	Warther, J	
                h5 	 	20067	ACCT	4210	Accounting Systems	1	3	15	30	T R	12:30pm-01:45pm	BHP 310	Warther, J	
                h5 	 	20054	ACCT	4290	Internal Controls and Auditing	1	3	23	30	M W	12:30pm-01:45pm	BHP 205	Bishop, C	
                h5 	 	20099	ACCT	6390	Accounting Internship-Graduate	1	3	4	5				Perry, S	
                h5 	 	20830	ACSK	1100	Academic Skills	1	3	7	20	M W	11:00am-11:50am	ACE 121	Marshall, L	
                h5 	C	20833	ACSK	1100	Academic Skills	1		0	0				STAFF	Online Course
                h5 	 	20834	ACSK	1100	Academic Skills	1	3	18	25				Marshall, L	Online Course
                h5 	 	20383	ARHS	4012	History of Contemporary Art	1	3	12	20	M W F	12:30pm-01:20pm	FAR 209	Wynn, K	
                h5 	 	20798	ARHS	4090	Directed Study - Cont. Theory	1	3	5	10			FAR	Wynn, K	
                h5 	 	20455	ARST	3001	Beginning Glassblowing I	1	3	1	8	M F	09:30am-11:50am	FAR 112	Wells, C	
                h5 	 	 	 	 	 	 	 	 		W	09:30am-10:50am	FAR 112	Wells, C	
                h5 	 	20456	ARST	3012	Intermediate Glass Blowing II	1	3	2	4	M F	09:30am-11:50am	FAR 112	Wells, C	
                h5 	 	 	 	 	 	 	 	 		W	09:30am-10:50am	FAR 112	Wells, C	
                h5 	 	20460	ARST	3031	Beg Printmaking I	1	3	3	8	T R	03:30pm-06:20pm	FAR 112	Wells, C	
                h5 	 	20453	ARST	3071	Beg Sculpture I	1	3	3	5	T R	09:30am-12:20pm	FAR 105	Wells, C	
                h5 	 	20339	ARST	3081	Beginning Photography I	1	3	2	8	M W	12:30pm-03:20pm	FAR 204	Hodges, J	
                h5 	 	20340	ARST	3092	Intermediate Photo II	1	3	3	5	M W	12:30pm-03:20pm	FAR 204	Hodges, J	
                h5 	 	20378	ARST	3141	Beginning Ceramics I	1	3	2	8	T R	09:30am-12:20pm	FAR 109	Wynn, K	
                h5 	 	20345	ARST	3170	Beginning Digital Arts I	1	3	1	8	T R	12:30pm-03:20pm	FAR 209	Hodges, J	
                h5 	 	20425	ARST	3241	Beg Painting I	1	3	5	7	T R	09:30am-12:20pm	FAR 207	Robinson, L	
                h5 	 	20342	ARST	4014	Photographic Illustration IV	1	3	2	3	M W	12:30pm-03:20pm	FAR 204	Hodges, J	
                h5 	 	20457	ARST	4023	Adv Glass Blowing III	1	3	1	2	M F	09:30am-11:50am	FAR 112	Wells, C	
                h5 	 	 	 	 	 	 	 	 		W	09:30am-10:50am	FAR 112	Wells, C	
                h5 	C	20458	ARST	4034	Adv Glass Blowing IV	1	3	0	1	M F	09:30am-11:50am	FAR 112	Wells, C	
                h5 	 	 	 	 	 	 	 	 		W	09:30am-10:50am	FAR 112	Wells, C	
                h5 	 	20346	ARST	4170	Intermediate Digital Arts II	1	3	4	5	T R	12:30pm-03:20pm	FAR 209	Hodges, J	
                h5 	C	20347	ARST	4171	Advanced Digital Arts III	1	3	0	2	T R	12:30pm-03:20pm	FAR 209	Hodges, J	
                h5 	 	20381	ARST	4174	Ceramics IV Advanced	1	3	1	2	T R	09:30am-12:20pm	FAR 109	Wynn, K	
                h5 	 	20427	ARST	4263	Advanced Painting III	1	3	3	4	T R	09:30am-12:20pm	FAR 207	Robinson, L	
                h5 	 	20429	ARST	4274	Advanced Painting IV	1	3	3	4	T R	09:30am-12:20pm	FAR 207	Robinson, L	
                h5 	 	20344	ARTC	1100	Art Appreciation	1	3	1	40				Hodges, J	Online Course
                h5 	 	20419	ARTF	1011	Beg Drawing II-Figure	1	3	6	20	M W F	12:30pm-02:20pm	FAR 107	Robinson, L	
                h5 	 	20465	ARTF	1030	Three Dimen Design and Tools	1	3	11	20	T R	12:30pm-03:20pm	FAR 105	Wells, C	
                h5 	 	20382	ARTF	2072	Art History Survey II	1	3	5	20	M W F	09:30am-10:20am	FAR 209	Wynn, K	
                h5 	 	20384	ARTS	4010	Senior Exhibition	1	1	1	2				Wynn, K	
                h5 	 	20430	ARTS	4010	Senior Exhibition	1	1	1	2				Robinson, L	
                h5 	 	20349	ARTX	4060	Senior Seminar	1	2	9	12	W	09:30am-10:20am	FAR 204	Hodges, J	
                h5 	 	20431	ARTX	4081	Drawing and Painting	1	3	1	2				Robinson, L	
                h5 	 	20377	ARTX	4082	Ceramics	1	3	1	2			FAR 109	Wynn, K	

            div.bottom
                h5 Course Description
        