extends top.pug

block content
    script(src="/javascript/main.js")
    .container-fluid
    .row.mainTop
        .col-md-4
        .col-md-8 
            .row  
                .col-md-7.topMember
                    h4.pull-right &nbsp;/&nbsp;                                    
                        =major
                    h4#mem_email.pull-right
                        =id
                .col-md-5.pull-right
                    form.btn-group.pull-right(action='/logout' method='post')                                                
                        button.btn.btn-primary(type='submit') Log Out
                    .btn-group.pull-right
                        button.btn.btn-success#schedule_Button My Schedule
                        button.btn.btn-info#transcript_Button Transcript                                  
            .row                    
                .col-md-7.topMember
                    .pull-right
                        |&nbsp;(
                        =level                            
                        |&nbsp;from&nbsp;
                        =startyear
                        |)
                .col-md-5.topMember
                    #current_semester.pull-right
        .row
        .col-md-4.pre-scrollable.curriculum
            #curriculum!=curriculum
        .col-md-8.pre-scrollable.schedule
            .row
                .col-md-1    
                    button(type="button" class="btn btn-warning" id="reset") Reset                                                   
                .col-md-2
                    select.bootstrap-select.btn.btn-default#semester
                        option(value="2017S" selected="selected") 2017 Summer
                        option(value="2017F") 2017 Fall
                .col-md-4                                                       
                    input.form-control#quicksearch(type="text" placeholder="Quick Search...")
                .col-md-2                                                       
                    input.form-control#datesearch(type="text" placeholder="Date/Time Search...")                    
                .col-md-3
                    select.bootstrap-select.btn.btn-default#class_type
                        option(value="all" selected="selected") All
                        option.online(value="online") Online
                        option.hybrid(value="hybrid") Hybrid
            .row
                #schedule!=schedule  


    // Course Description Modal
    div(class="modal" id="description" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
        div(class="modal-dialog" role="document")
            div.modal-content
                div.modal-header
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") X
                    h4.modal-title#desc_title Modal title
                div.modal-body#desc_desc description
                div.modal-footer 
                    input#desc_crn(type="hidden")
                    input#desc_subj(type="hidden")
                    input#desc_crse(type="hidden")
                    button(type="button" class="btn btn-success" id="desc_taken") Already Taken
                    button(type="button" class="btn btn-primary" id="desc_register") Register
                    //button(type="button" class="btn btn-info") View FeedBack
                    button(type="button" class="btn btn-danger" data-dismiss="modal") Close

    // register_error modal
    div(class="modal" id="register_error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
        div(class="modal-dialog" role="document")
            div.modal-content
                div.modal-header
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") X
                    h4.modal-title Pre-requisite violation
                div.modal-body
                    h3 You need to take below class first.
                    h4#register_body
                div.modal-footer                    
                    button(type="button" class="btn btn-danger" data-dismiss="modal") Close

    // Already Taken -> Input GPA Modal
    div(class="modal" id="taken" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
        div(class="modal-dialog" role="document")
            div.modal-content
                div.modal-header
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") X
                    h4.modal-title#taken_title
                    input#taken_subj(type="hidden")
                    input#taken_crse(type="hidden")
                div.modal-body
                    h3 What was your Grade?
                    label.radio-inline
                        input(type="radio" name="taken_grade" value="a") 
                        P A
                    label.radio-inline
                        input(type="radio" name="taken_grade" value="b")
                        P B
                    label.radio-inline
                        input(type="radio" name="taken_grade" value="c")
                        P C
                    label.radio-inline
                        input(type="radio" name="taken_grade" value="d")
                        P D
                    label.radio-inline
                        input(type="radio" name="taken_grade" value="f")
                        P F
                div.modal-footer
                    button(type="button" class="btn btn-success" id="taken_save") Save
                    button(type="button" class="btn btn-danger" data-dismiss="modal") Close

    // My schedule Modal
    div(class="modal" id="myschedule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
        div(class="modal-dialog" role="document")
            div.modal-content
                div.modal-header
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") X
                    h4.modal-title#myschedule-title My Schedule
                div.modal-body#myschedule_body
                div.modal-footer
                    // button(type="button" class="btn btn-success" id="register_save") Save Into my Transcript
                    button(type="button" class="btn btn-danger" data-dismiss="modal") Close
                    input#sche_subj(type="hidden")
                    input#sche_crse(type="hidden")

    // Transcript Modal
    div(class="modal" id="transcript" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
        div(class="modal-dialog" role="document")
            div.modal-content
                div.modal-header
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") X
                    h4(class="modal-title") My Transcript
                div.modal-body#transcript_body
                div.modal-footer
                    button(type="button" class="btn btn-danger" data-dismiss="modal") Close

    // Transcript Delete Modal
    div(class="modal" id="transcript_delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
        div(class="modal-dialog" role="document")
            div.modal-content
                div.modal-header
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") X
                    h4(class="modal-title") Remove the Record
                div.modal-body#transcript_body Are you sure to remove this record?
                div.modal-footer
                    button(type="button" class="btn btn-danger" id="tran_delete") YES
                    button(type="button" class="btn btn-info" data-dismiss="modal") Cancel
                    input#tran_mem_email(type="hidden")
                    input#tran_subj(type="hidden")
                    input#tran_crse(type="hidden")
                    
        
