doctype html
html
    head
        meta(charset='utf-8')
        title="GSW Class Registration Service"
        link(href='/css/main.css', rel='stylesheet')
    body
        div.container
            div.top
                div.topcontent
                    |
                    div=id                     
                        | &nbsp;/ Major: 
                        =major
                    div=level 
                        | &nbsp;Course 
                        | from 
                        =startyear                         
                        form(action='/logout' method='post')
                            select(name='semester')
                                option(value="" disabled selected) Select Semester
                                option(value='2017summer') 2017 Summer
                                option(value='2017fall') 2017 Fall                        
                            input(type='submit' value="Log Out")
            div.left
                h1 Curriculum
                h2 Required core courses (18 hrs)				
                h3  CSCI 5120 Topics in Information Security					
                h3  CIS 6720 Distributed Web Applications					
                h3  CSCI 6230 Internetworking Archit & Protocols				 
                h3  CSCI 6410 Advanced Database Design					
                h3  CIS 6800 HCI & Interface Dsg					
                h3  CSCI 6220 Distributed Operating Systems					
                h3                        
                h2  Elective Courses 12hrs or 6hrs w/thesis					
                h3  CIS 6420  Data Mining					
                h3  CIS 5310 Decision Support Systems					
                h3  CSCI 6320 Advanced Software Engineering					
                h3  CSCI 6821 Advanced Computer Graphics					
                h3  CSCI 6900 Special Problems in CS					
                h3  CIS 6900 Special Problems in CIS					
                h3  CSCI 6930 Internship					
                h3                       
                h2  Thesis only (6 cr)					
                h3  CSCI 7900 Thesis 					
                h3  CSCI 7900 Thesis 				


            div.right
                div=html                    

            div.bottom
                h5 Course Description
        