extends top.pug

block content
    .container-fluid
        .row.mainTop
            .col-md-7
            .col-md-5 
                .row                    
                    .col-md-10.topMember                        
                        h4  
                            =level
                            |&nbsp;course of                            
                            =major                            
                    .col-md-2
                .row                    
                    .col-md-8.topMember
                        h4
                            =id
                            |&nbsp;(from&nbsp;
                            =startyear
                            |)                            
                    .col-md-4
                        form(action='/logout' method='post')                                                
                            button.btn.btn-primary.btn-sm(type='submit') Log Out
                            
        .row
            .col-md-4.pre-scrollable.curriculum
                #curriculum!=curriculum
            .col-md-8.pre-scrollable
                .row
                    .col-md-3                               
                        select.form-contorl#scheduleSeletor(name='yearsemester')                        
                            option(value='2017S') 2017 Summer
                            option(value='2017F') 2017 Fall 
                    .col-md-4                                                       
                        input.form-control#quicksearch(type="text" placeholder="Quick Search...")
                    .col-md-2                                                       
                        input.form-control#datesearch(type="text" placeholder="Date/Time Search...")                    
                    .col-md-2                
                        button.btn.btn-success.btn-sm#scheduleButton My Shcedule
                    .col-md-2                

                #schedule!=schedule  


    // Course Description Modal
    div(class="modal fade" id="description" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
        div(class="modal-dialog" role="document")
            div.modal-content
                div.modal-header
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") X
                    h4(class="modal-title" id="desc_title") Modal title
                div.modal-body This course was developed as an exercise oriented approach to helping students become familiar with computer applications through a hands-on experience. Computer Applications includes document preparation, spreadsheets, databases, and presentation software. The course will also provide an introduction to computers and briefly discuss features of an operating system.
                div.modal-footer
                    button(type="button" class="btn btn-success") Already Taken
                    button(type="button" class="btn btn-primary") Register
                    //button(type="button" class="btn btn-info") View FeedBack
                    button(type="button" class="btn btn-danger" data-dismiss="modal") Close

    // My schedule Modal
    div(class="modal fade" id="myschedule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
        div(class="modal-dialog" role="document")
            div.modal-content
                div.modal-header
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") X
                    h4(class="modal-title" id="desc_title") My Schedule
                div.modal-body Time Table will shon here.
                div.modal-footer
                    button(type="button" class="btn btn-danger" data-dismiss="modal") Close
        
